*, 
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

p::first-letter {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 36px;
	padding-right: 5px;
}

div.header, 
div.form {
	position: absolute;
	width: calc(50vw - 80px);
	height: calc(100vh - 80px);
	padding: 40px;
	margin: 40px;
	border-radius: 40px;
	background-color: #f2f2f2;
/*transition: 400ms transform;*/
	box-shadow: 0 0 50px #72e0d1;

/*
	&:hover {
		transform: scale(1.1);
	
	}
*/
}

.header {
	left: 0;
	top: 0;
	overflow: auto;
	border: 1px dotted #72e0d1;
}

	h1 {


	}

	p {

	}

	a {
		display: block;
		

		&::before {
			content: "Click here for more information";
			position: relative;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			background-color: #f2f2f2;
			color: darkblue;
			text-decoration: none;
		}

		&:hover {
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			position: fixed;
			z-index: 9999;
			border-radius: 0;
			border: none;
			box-shadow: none;

			&::before {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 70vw;
				height: 70vh;
				top: 15vh;
				left: 15vw;

			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				background-color: darkblue;
				top: 0;
				left: 0;
				opacity: 0.4;
				width: 100vw;
				height: 100vh;
			}
		}
	}

.form {
	right: 0;
	top: 0;
	border: 10px solid #72e0d1;

	input[type="text"],
	input[type="email"],
	input[type="password"] {

		display: block;
		width: 100%;
		height: 40px;
		padding: 0 20px;
		appearance: none;
		border: none;

		&::placeholder {
			color: blue
		}
	}
}
	input[type="checkbox"] {


	}

	button {
		display: block;
		width: 200px;
		height: 80px;
		margin-top: 40px;
		border: 4px solid #72e0d1;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		background-color: darkblue;
		color: #72e0d1;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 0.4em;
		transition: 400ms transform;

		&:hover {
			transform: rotate3d(1, 1, 1, 45deg);
		}

	}

	label {


	}